<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<div>
	<div class = 'pane'>
		<div class = 'header'>
			<h1 class="text-heading">{{ restaurant.name }}</h1>
		</div>
		<span class="create-and-home">
		<a href = "{{url_for('newMenuItem', restaurant_id = restaurant.id) }}" class = "createitem"><br>Create New Item</a>
		<a href = "{{url_for('showRestaurants') }}" class = "homebutton"><u>Home</u></a>
			<br>
			<br>
			</span>
		<div class = "flash">
		      {% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
        		{% for message in messages %}
            	 <li> <strong style="color:red;"> {{ message }} </strong> </li>
        		{% endfor %}
        	</ul>
        		{% endif %}
    			{% endwith %}

		</div>
			{% for i in items %}
			<span class = "menu-items">
				<span class="menu-name">{{i.name}}</span>
				<span class="menu-price">{{i.price}}</span>
			</span>
		<div class="menu-desc">{{i.description}}</div>
		<div class = "editdeletepane">
			<a href="{{url_for('editMenuItem',restaurant_id = restaurant.id, menu_id=i.id)}}" >Edit</a>
			<a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id)}}" >Delete</a>
		</div>
			{% endfor %}
	</div>
	</div>
</body>
</html>
