{% include "header.html" %}

<body>
    <div class = 'header'>
			<h1> RESTAURANTS</h1>
		</div>
        <a href="{{url_for('newRestaurant')}}" class="row col-lg-10 well restaurants new-restaurant-item">
        Create a New Restaurant...</a>
            {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for message in messages %}
                <div class = "row col-lg-10 flash">
                   <p class="bg-success"> {{ message }} </p> </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

{% for restaurant in restaurants %}

        <div class = "row col-lg-10  well restaurants">

                <a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}"
                   class = "row col-lg-10 name-restaurant">{{restaurant.name}}</a>
                <a href = "{{url_for('editRestaurant',restaurant_id = restaurant.id)}}"
                   class="btn btn-info col-md-1" > Edit</a>
                <a href = "{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}"
                   class="btn btn-danger col-md-1">Delete</a>
        </div>
{% endfor %}
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
