<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class = 'pane'>
<h1 class="text-heading">Restaurants</h1>


<a href="{{url_for('newRestaurant')}}" class="createitem"> Create a New Restaurant<br><br></a>


	<div class = "flash">
		      {% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
        		{% for message in messages %}
            	<li> <strong style="color:red;"> {{ message }} </strong> </li>
        		{% endfor %}
        	</ul>
        		{% endif %}
    			{% endwith %}

{% for restaurant in restaurants %}


<a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}" class = "restaurant-name">{{restaurant.name}}</a>
	<div class = "editdeletepane">
		<a href = "{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">Edit</a>
		<a href = "{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}">Delete</a>
	</div>



{% endfor %}

</div>
</body>

</html>
