.heading-img1{
    color: rgb(62, 56, 56);
    font-family: cursive;
    font-size:18px;
    background-image: url('img1.jpg');
    background-repeat: repeat;
    background-size: cover;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 15px;

    }
 .heading-bg{
   padding: 12px;
    color: rgb(62, 56, 56);
    font-family: cursive;
    font-size:18px;
    background-image: url('img3.jpg');
    background-repeat: repeat;
    background-size: cover;


    }
 .restaurants{
   padding: 12px;
    color: rgb(62, 56, 56);
    font-family: cursive;
    font-size:18px;
    background-image: url('img2.jpg');
    background-repeat: repeat;
    background-size: cover;
    margin-left: 75px;

    }
body            { font-family: sans-serif; background-color: white}
h1, h2,h3, h4       { color: black; }
h1, h2          { font-family: 'Georgia', serif; }
h2              { font-size: 1.2em; }

p, dd, dt               { color:lightslategrey;}

a {text-decoration: none; color:floralwhite; }

.padding { left:1%; border-radius: 25px; padding: 5px; margin: 5px;}
.header         { left:50%; text-align: center;}
.name {width:20%;
    display:inline-block;
    float: left;
    font-size: 18px;
    color: blue;
    }

.price {text-align: right; width:20%; float: right;  }

.heading{
font-size: -webkit-xxx-large;
    color: white;
    TEXT-ALIGN: center;
 }
 .flash{
    color: black;
    font-family: cursive;
    font-size:30px;
    margin-left: 75px;

    }
.homebutton{
   float: left;font-size: 33px;
    }
.new-restaurant-item {
    color:red;
    font-style: oblique;
    font-size:28px;}
.name-restaurant{
 color: wheat;
 font-size: 30;
}
 .text-price{
 color:Red;
 }
.menu-name{
    color: brown;
    font-size: 30;
}
.menu-items{
    padding: 12px;
    color: rgb(62, 56, 56);
    font-family: cursive;
    font-size:18px;
    background-image: url('menu-items.jpg');
    background-repeat: repeat;
    background-size: cover;
    margin-left: 75px;
}
.centeralign{
    float: right;
    padding-right: 500px;
    padding-top: 232px;
    display: inline-flex;
}
.restaurant-name{
    color: lightslategrey;
    font-size: 22;
}
.menu-desc{
    color: gray;
    font-size: 20px;
    padding-bottom: 15px;
    margin-left: 20px;
   }
 .login_tag{
   float:right;
   font-size:20px;
   }
.menu-price{
   float:right;
   color: chocolate;
   }
 .create-and-home{
 padding:14px}